@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root{
    font-size: 62.5%;
    --bgheader: #D7D5FF;
    --btnColor: #6C63FF;
    --firstcard:  #FF6363;
    --secondcard:  #63ECFF;
    --thridcard:  #F363FF;
    --fourthcard: #63FF73;
    --fivecard:  #FFDD63;
    --sixtcard:  #6663FF;

    --fontParagraph: 'Lato', sans-serif;
    --fontTitles:'Merriweather', serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    height: 560px;
    width: 100%;
    background-color: var(--bgheader);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 70px;
}
header > img{
    padding-right: 30px;
    max-width: 500px;
    height: auto;
    max-height: 360px;
}
.textHeader{

    width: 100%;
    max-width: 490px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.textHeader h1{

    text-align: left;
    font-family: var(--fontTitles);
    font-weight: 400;
    font-size: clamp(3.2rem, 3vw, 3.6rem)
}
header .textHeader p{
    font-family: var(--fontParagraph);
    font-weight: 400;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    margin-top: 17.5px;
}
#btnHeader{
    background-color: var(--btnColor);
    color: #fff;
    border: none;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    cursor: pointer;

    width: 155px;
    height: 50px;
    margin-top: 45px;
    font-family: var(--fontParagraph);
    font-size: 2.0rem;
}
#btnHeader:hover{
    background-color: #fff;
    border: 2px solid var(--btnColor);
    color: var(--btnColor);
}

/* cards */
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 150px;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 423px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* border: 4px solid green; */
}
.cardContainer .cardColor{
    /* border: 4px solid blue; */
 width: 100%;
 height: 222px;
}
.cardContainer  #card1{
    background-color: var(--firstcard);
}
.cardContainer #card2{
    background-color: var(--secondcard);
}
.cardContainer #card3{
    background-color: var(--thridcard);
}
.cardContainer #card4{
    background-color: var(--fourthcard);
}
.cardContainer #card5{
    background-color: var(--fivecard);
}
.cardContainer #card6{
    background-color: var(--sixtcard);
}
.cardContainer .cardConteudos{
    margin: 24px 28px 0 30px;
}
.cardContainer .cardConteudos h4{
    font-family: var(--fontTitles);
    font-size: 2.4rem;
    font-weight: 700;
}
.cardContainer .cardConteudos p{
    font-family: var(--fontParagraph);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 26px;
}

footer{
    background-color: var(--bgheader);
}