@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Montserrat:wght@600;700&family=Poppins:wght@500&family=Roboto&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
:root{
  font-size: 62.5%;
  --colormenu--:hsla(0, 0%, 16%, 1);
  --colorred--: hsla(355, 71%, 50%, 1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
header{
  width: 100%;
  display: flex;
 
}

.nav-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.nav-top > h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: var(--colormenu--);
}
.nav-top h2 span{
  color: var(--colorred--);
}
.nav-top a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--colormenu--);
}
#entrar{
  cursor: pointer;
  width: 18.8rem;
  height: 4.9rem;
  border: 2px solid #292929;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}
#entrar:hover{
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
/*Aqui termina a parte do menu */
.primeira-section{
  padding-top: 15rem;
  margin-left: 13%;
  width: 20%;
  height: 50vh;
}
.primeira-section h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
}
.primeira-section p{
  color: var(--colormenu--);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  padding: 4.8rem 0;
}
.sushi-img{
  width: 40rem;
  height: 53.47rem;
  position: absolute;
  left: 200rem;
  top: 19.9rem;
}
.cardapio{
  cursor: pointer;
  width: 29.2rem;
  height: 6rem;
  background: #DA2535;
  border: none;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #FBFBFB;
}
.cardapio:hover{
  background-color: #fff;
  border: 2px solid var(--colorred--);
  color: var(--colorred--);
  transition: 0.5s;
}
/*Começando a segunda sectio*/
.segunda-section{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 12.4rem;
  margin-left: 13%;
  width: 100%;
}
#segurando-prato{
  width: 60.4rem;
  height: 50rem;
  padding-top: 2rem;
}
.segunda-section-conteudos{
  padding-top: 20rem;
  margin-left: 20%;
  width: 20%;
  height: 50vh;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.segunda-section-conteudos > h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
}
.segunda-section-conteudos p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin: 2.4rem 0;
}
.segunda-section-conteudos a{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--colorred--);
}
/*TErminei a segudna section*/
.terceira-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
.pratos-populares{
  margin: 6% 0;
  width: 38rem;
  height: 45rem;
  background: #F3F3F3;
  border-radius: 32px;
  text-align: center;
}
.pratos{
  position: relative;
  height: 201px;
}
.pratos img{
  width: 29rem;
  height: 29rem;
  position: absolute;
  left: 4rem;
  top: -16rem;
}
.pratos-populares h4{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3.2rem;
}
.pratos-populares p{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  margin: 3rem;
}
.pratos-populares h6{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3.2rem;
}
#cometarios-section  h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 36%;
  margin-bottom: 3rem;
}
.comentarios-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.comentario-card{
  width: 60.4rem;
  height: 39rem;
  background: #F3F3F3;
  border-radius: 1.6rem;
  margin: 2rem;
}
.img-card{
  width: 12rem;
  height: 12rem;
  border-radius: 1.6rem;
  margin: 1.0rem;
}
.comentario-card h4{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3.2rem;
  margin: 1.6rem;
}
.comentario-card p{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 2.4rem;
  margin: 1.6rem;
}
.star-comentario{
  margin: 1.6rem;
}

.localizacao h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 36%;
  margin-bottom: 3rem;
}
.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapa img{
  margin-right: 1%;
  margin-bottom: 3rem;
}
.seach-delivery{
  display: flex;
  align-items: center;
  justify-content: center;
}
.seach-delivery input{
  width: 630px;
  height: 70px;
  background: #FBFBFB;
  border: 1px solid #292929;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 2.4rem;
  color: #DA2535;
  
}
.buscar-delivery{
  width: 183px;
  height: 70px;
  background: #DA2535;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2.4rem;
  color: #FBFBFB;
  cursor: pointer;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 3.7rem;
}
footer a{
  text-decoration: none;
}
.logo-footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--colormenu--);
}
.logo-footer h2 span{
    color: var(--colorred--);
}
.contato-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contato-footer h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.contato-footer a{
  color: var(--colormenu--);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  margin-top: 2rem;
}
.sobre-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4.2rem;
}
.sobre-footer h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.sobre-footer a{
  color: var(--colormenu--);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  text-align: left;
  margin-top: 2rem;
}


.servicos-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.servicos-footer h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.servicos-footer a{
  color: var(--colormenu--);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  margin-top: 2rem;
}